{% include 'greeting.frag' %}
<br>
<br>
This email is to inform you of a scheduled control plane outage affecting the
ARDC Nectar Research Cloud.
{% include 'schedule.frag' %}
<br>
<br>
<h2>Description</h2>
<br>
A {% if days > 0 %}{{ days }} day {% elif hours > 0 %}{{ hours }} hour {% else %} short {% endif %}
outage is required to perform essential maintenance on cloud infrastructure in
{% if zones|length == 1 -%}
the {{ zones[0] }} availability zone.
{% else -%}
the following availability zones:
{{ ", ".join(zones) -}}.
{% endif -%}
<br>
<br>
<h2>Impact</h2>
<br>
This outage will impact on your ability to manage instance, volumes and/or databases in the affected
zone or zones.  During the outage, you may be unable to launch, reboot or delete instances, or create
attach, backup or delete volumes and databases.  Existing instances, volumes and databases should
continue to work.
<br>
<br>
{% if affected -%}
<br>
<br>
Your instances in the affected availability zone(s) are listed below.
{% endif -%}
<br>
<br>
<h2>Actions required</h2>
<br>
<br>
<ul>
  <li>
    We recommend that you perform your own backups, snapshots or otherwise save
    copies of important data somewhere other than the affected availability
    zones.
  </li>
  <li>
    During the outage, you should not attempt to perform management operations
    on your instances, volumes or databases in the affected zone, using the
    Nectar Dashboard, OpenStack CLI tools or OpenStack APIs.
  </li>
</ul>
{% include 'affected.frag' %}
{% include 'signoff.frag' %}
