Source: nectar-osc
Section: unknown
Priority: optional
Maintainer: Sam Morrison <sorrison@gmail.com>
Build-Depends:
 debhelper (>= 12),
 dh-python,
 openstack-pkg-tools,
 python3-all (>=3.2),
 python3-pbr,
 python3-setuptools,
 python3-sphinx,
Build-Depends-Indep:
 python3-freshdesk,
 python3-keystoneauth1,
 python3-keystoneclient,
 python3-neutronclient,
 python3-novaclient,
 python3-openstackclient,
 python3-osc-lib,
 python3-nectarclient-lib,
 python3-stestr (>= 2.0.0),
 python3-subunit (>= 1.0.0),
 subunit,
Standards-Version: 4.6.1
Homepage: https://github.com/NeCTAR-RC/python-nectar-osc

Package: python3-nectar-osc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Nectar Openstack Client Plugin
 Nectar Openstack Client Plugin
