Source: nectar-osc
Section: unknown
Priority: optional
Maintainer: Sam Morrison <sorrison@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 openstack-pkg-tools,
 python3-all (>=3.2),
 python3-pbr,
 python3-setuptools,
 python3-sphinx,
Standards-Version: 4.6.1
Homepage: https://github.com/NeCTAR-RC/python-nectar-osc

Package: python3-nectar-osc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Nectar Openstack Client Plugin
 Nectar Openstack Client Plugin
